*{
    box-sizing: border-box;
}
body{
    margin: auto;
    padding: 2em;
}
h1{
    color: rgb(46, 46, 46);
}
.row{
    padding: 1rem;
}
.barra{
    background-color: bisque
}
.cajaborde{
    border-style: solid;
    border-color: rgb(221, 183, 101);
    height: 30vh;
}
.imagen {
    width: 100%;
}